body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1024px;
    height: 728px;
    margin: 0 auto;
    position: relative;
}

.title {
    position: absolute;
    width: 333px;
    height: 105px;
    left: 346px;
    top: 43px;
    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 40.7132px;
    line-height: 43px;
    /* or 107% */
    text-align: center;
    letter-spacing: -0.461416px;
    color: #EFF4FF;

}

.stitle {
    position: absolute;
    width: 333px;
    height: 105px;
    left: 346px;
    top: 95px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 43px;
    /* or 310% */
    text-align: center;
    letter-spacing: -0.461416px;
    color: #EFF4FF;

}

.button {
    box-sizing: border-box;
    position: absolute;
    width: 302px;
    height: 302px;
    left: 33px;
    top: 216px;
    background: #051326;
    border: 1px solid #122B4D;
    border-radius: 20px;

}

.imgbutton {
    position: absolute;
    width: 178px;
    height: 229px;
    left: 95px;
    top: 250px;

}

.button1 {
    box-sizing: border-box;
    position: absolute;
    width: 302px;
    height: 302px;
    left: 361px;
    top: 216px;
    background: #051326;
    border: 1px solid #122B4D;
    border-radius: 20px;

}

.imgbutton1 {
    position: absolute;
    width: 178px;
    height: 234.67px;
    left: 423px;
    top: 247px;

}

.button2 {
    box-sizing: border-box;
    position: absolute;
    width: 302px;
    height: 302px;
    left: 689px;
    top: 216px;
    background: #051326;
    border: 1px solid #122B4D;
    border-radius: 20px;
}

.imgbutton2 {
    position: absolute;
    width: 178px;
    height: 177.41px;
    left: 751px;
    top: 275px;

}

.image {
    position: absolute;
    width: 218px;
    height: 142px;
    left: 0px;
    top: 586px;

}

.image1 {
    position: absolute;
    width: 80px;
    height: 30.49px;
    left: 697px;
    top: 662px;
}

.image2 {
    position: absolute;
    width: 80px;
    height: 61.77px;
    left: 807px;
    top: 646px;

}

.image3 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 904px;
    top: 637px;

}

.dirback {
    position: absolute;
    width: 310px;
    height: 80px;
    left: 687px;
    top: 637px;
    border-radius: 20px;

    background-color: #d9d9d9;
}

.inf1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px;
    gap: 27.14px;

    position: absolute;
    width: 370px;
    height: 27px;
    left: 200px;
    top: 640px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.461416px;

    color: #A6A6A6;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.inf2 {

    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px;
    gap: 27.14px;

    position: absolute;
    width: 370px;
    height: 27px;
    left: 200px;
    top: 660px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.461416px;

    color: #A6A6A6;

    flex: none;
    order: 0;
    flex-grow: 0;
}
