body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1024px;
    height: 728px;
    margin: 0 auto;
    position: relative;
}

.title {
    position: absolute;
    width: 658px;
    height: 44px;
    left: 183px;
    top: 43px;

    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 40.7132px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.461416px;
    color: #EFF4FF;
}

.title-2 {
    position: absolute;
    width: 658px;
    height: 44px;
    left: 183px;
    top: 43px;

    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 40.7132px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.461416px;
    color: #EFF4FF;

    margin-top: 100px;
}

.background {
    position: absolute;
    width: 171.43px;
    height: 171.43px;
    left: 425.29px;
    top: 305.29px;
}

.voltar {
    position: absolute;
    width: 44px;
    height: 47px;
    left: 936px;
    top: 555px;
}

.background-final img {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 411px;
    top: 291px;

    background: #051326;
    border-radius: 20px;
}

p {
    position: absolute;
    width: 590px;
    height: 44px;
    left: 217px;
    top: 79px;

    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;

    text-align: center;
    margin-top: 120px;

    color: #EFF4FF;
}