body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1024px;
    height: 728px;
    margin: 0 auto;
    position: relative;
}

.background {
    position: absolute;
    width: 65px;
    height: 70px;
    left: 926px;
    top: 550px;
    border-radius: 50%;
    background: #D9D9D9;
}

.voltar {
    position: absolute;
    width: 44px;
    height: 47px;
    left: 936px;
    top: 562px;
}

.title {
    position: absolute;
    width: 500px;
    height: 105px;
    left: 261px;
    top: 31px;

    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 40.7132px;
    line-height: 43px;
    /* or 107% */

    text-align: center;
    letter-spacing: -0.461416px;

    color: #EFF4FF;

}

.title1 {
    position: absolute;
    width: 500px;
    height: 105px;
    left: 261px;
    top: 90px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 43px;
    /* or 310% */

    text-align: center;
    letter-spacing: -0.461416px;

    color: #EFF4FF;
}

.title2 {
    position: absolute;
    width: 573px;
    height: 44px;
    left: 229px;
    top: 514px;

    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    /* identical to box height, or 217% */

    text-align: center;
    letter-spacing: -0.461416px;

    color: #EFF4FF;

}

.bar {
    box-sizing: border-box;

    position: absolute;
    width: 180px;
    height: 100px;
    left: 417px;
    top: 242px;

    background: #D9D9D9;
    border: 1px solid #0E294D;
    border-radius: 20px;
}

.line {
    position: absolute;
    width: 178px;
    height: 0px;
    left: 418px;
    top: 270px;

    border: 1px solid #051326;
}

.text {
    position: absolute;
    width: 150px;
    height: 41px;
    left: 432px;
    top: 225px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 43px;
    /* or 310% */

    text-align: center;
    letter-spacing: -0.461416px;

    color: #051326;

}

.valor {
    position: absolute;
    width: 85px;
    height: 45px;
    left: 464px;
    top: 265px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    /* or 217% */

    text-align: center;
    letter-spacing: -0.461416px;

    color: #051326;

}

.bar1 {
    box-sizing: border-box;

    position: absolute;
    width: 180px;
    height: 100px;
    left: 327px;
    top: 391px;

    background: #90EE90;
    border: 1px solid #0E294D;
    border-radius: 20px;
}

.line1 {
    position: absolute;
    width: 178px;
    height: 0px;
    left: 328px;
    top: 419px;

    border: 1px solid #051326;
}

.text1 {
    position: absolute;
    width: 150px;
    height: 41px;
    left: 342px;
    top: 375px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 43px;
    /* or 310% */

    text-align: center;
    letter-spacing: -0.461416px;

    color: #051326;
}

.valor1 {
    position: absolute;
    width: 85px;
    height: 45px;
    left: 374px;
    top: 417px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    /* or 217% */

    text-align: center;
    letter-spacing: -0.461416px;

    color: #051326;
}

.bar2 {
    box-sizing: border-box;

    position: absolute;
    width: 180px;
    height: 100px;
    left: 515px;
    top: 391px;

    background: #FF6347;
    border: 1px solid #0E294D;
    border-radius: 20px;
}

.line2 {
    position: absolute;
    width: 178px;
    height: 0px;
    left: 516px;
    top: 419px;

    border: 1px solid #051326;
}

.text2 {
    position: absolute;
    width: 150px;
    height: 41px;
    left: 530px;
    top: 375px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 43px;
    /* or 310% */

    text-align: center;
    letter-spacing: -0.461416px;

    color: #051326;

}

.valor2 {
    position: absolute;
    width: 85px;
    height: 45px;
    left: 562px;
    top: 415px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    /* or 217% */

    text-align: center;
    letter-spacing: -0.461416px;

    color: #051326;
}